{% extends "base.html" %}

{% block content %}
{% for course in courses %}
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title red">{{ course.key }}. {{ course.title }}</h3>
                <p class="card-text">{{ course.desc }}</p>
                <a type="button" class="btn btn-primary" href="{{ course.link }}">Download</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
